<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
    <style>
      #container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      #header {
        font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1 id="header">Welcome {{ name }}</h1><br>
      <img src="https://picsum.photos/200/300"></img>
    </div>

    <py-config type="toml">
      packages = [
        "opencv-python"
      ]
    </py-config>

    <py-script>
      import cv2
      import threading
      import urllib
      import urllib.request as urlopen
      import numpy as np
      
      class Point(object):
          def __init__(self, x=0, y=0):
              self.x = x
              self.y = y
      
          def __add__(self, other):
              return Point(self.x + other.x, self.y + other.y)
      
          def __eq__(self, other):
              return self.x == other.x and self.y == other.y
      
      
      mouse_click_status = 0
      
      rw = 4
      
      start = Point()
      end = Point()
      
      directions = [Point(0, -1), Point(0, 1), Point(1, 0), Point(-1, 0)]
      
      def bfs(s, e):
          global img, h, w
      
          found = False
          queue = []
      
          visited = [[0 for j in range(w)] for i in range(h)]
          parent = [[Point() for j in range(w)] for i in range(h)]
      
          queue.append(s)
          visited[s.y][s.x] = 1
      
          while len(queue) > 0:
              p = queue.pop(0)
              for d in directions:
                  cell = p + d
                  if (0 <= cell.x < w and 0 <= cell.y < h and
                  visited[cell.y][cell.x] == 0 and
                          (img[cell.y][cell.x][0] != 0 or img[cell.y][cell.x][1] != 0 or img[cell.y][cell.x][2] != 0)):
                      queue.append(cell)
                      visited[cell.y][cell.x] = 1
                      parent[cell.y][cell.x] = p
                      if cell == e:
                          found = True
                          del queue[:]
                          break
      
          path = []
          if found:
              p = e
      
              while p != s:
                  path.append(p)
                  p = parent[p.y][p.x]
      
              path.append(p)
              path.reverse()
      
              for p in path:
                  img[p.y+1][p.x+1] = [0, 0, 255]
                  img[p.y][p.x] = [0, 0, 255]
                  img[p.y-1][p.x-1] = [0, 0, 255]
                  img[p.y+1][p.x-1] = [0, 0, 255]
                  img[p.y-1][p.x+1] = [0, 0, 255]
                  img[p.y][p.x+1] = [0, 0, 255]
                  img[p.y][p.x-1] = [0, 0, 255]
                  img[p.y+1][p.x] = [0, 0, 255]
                  img[p.y-1][p.x] = [0, 0, 255]
      
      def mouse_click(event, px, py, flag, params):
      
          global img, mouse_click_status, start, end, rw
      
          if event == cv2.EVENT_LBUTTONUP:
              if mouse_click_status == 0:
                  cv2.rectangle(img, (px-rw, py-rw), (px+rw, py+rw), (0, 255, 255), -1)
                  start = Point(px, py)
                  mouse_click_status = mouse_click_status + 1
      
              elif mouse_click_status == 1:
                  cv2.rectangle(img, (px-rw, py-rw), (px+rw, py+rw), (0, 255, 0), -1)
                  end = Point(px, py)
                  mouse_click_status = mouse_click_status + 1
      
      def display():
          global img
          cv2.imshow("image", img)
          cv2.setMouseCallback("image", mouse_click)
          while True:
              cv2.imshow("image", img)
              cv2.waitKey(1)
              if mouse_click_status == 2:
                  break
      
      resp = urlopen("https://picsum.photos/1080/720")

      img = np.asarray(bytearray(req.read()), dtype=np.uint8)
      img = cv2.imdecode(img, cv2.IMREAD_COLOR)

      img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
      
      img = cv2.resize(img, (1080, 720), interpolation=cv2.INTER_NEAREST)
      
      _, img = cv2.threshold(img, 120, 255, cv2.THRESH_BINARY)
      
      img = cv2.cvtColor(img, cv2.COLOR_GRAY2BGR)
      
      h, w = img.shape[:2]
      
      t = threading.Thread(target=display, args=())
      t.daemon = True
      t.start()
      
      while mouse_click_status < 2:
          pass
      cv2.destroyAllWindows()
      
      bfs(start, end)
      cv2.imwrite("output.jpg", img)
      cv2.waitKey(0)
    </py-script>
  </body>
</html>